@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



* {
    margin: 0;
}

* {
    box-sizing: border-box;
}












nav {
    background-color: #aa9dce;
    padding: 20px;
}



.nav-container {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    gap: 20px;
    width: 40%;
    justify-content: center;
    align-items: center
}


.logo-container p {
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;

}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.items-icon {
    border-radius: 8px;
    height: 50px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;

}