@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



* {
    margin: 0;
}

* {
    box-sizing: border-box;
}












nav {
    background-color: #aa9dce;
    padding: 20px;
}



.nav-container {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    gap: 20px;
    width: 40%;
    justify-content: center;
    align-items: center
}


.logo-container p {
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;

}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.items-icon {
    border-radius: 8px;
    height: 50px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;

}






.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    
    width: 50%;
    height: 620px;
    background-image: url("/images/Group\ 14.png");
    background-size: 100% 700px;
    background-repeat: no-repeat;

}

.banner-text {
    padding: 20% 0 0% 20%;
}

.banner-text h1 {
    font-size: 95px;
    font-weight: 800;
}

.banner-text h2 {
    font-size: 48px;
    font-weight: 600;

}

.banner-text p {
    padding-bottom: 20px;
}
.banner-btn {
    display: flex;
    padding-left: 18%;
    gap: 20px;
}

.btn-sign-in {
    background: #FF42A5;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 16px;
    border-style: none;
    border-radius: 48px;
}

.btn-go {
    background: #4EC5F7;
    width: 140px;
    height: 50px;
    color: white;
    font-size: 16px;
    border-style: none;
    border-radius: 48px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}


.gamer{
    
    background: #dea7c435;
    min-height: 200px;
    display: flex;
    padding: 0 10%;
}

.gamer-img{
   
    min-height: 20px;
    width: 60%;
}
.gamer-img img{
    width: 100%;
}

.gamer-info{
    
    padding: 10% 0 10% 0;
    min-height: 20px;
    width: 40%;
    text-align:right;
   
}
.gamer-info p{
    font-size: 16px;
    color: #534C64;
    font-weight: 400;
    padding: 5% 0 5% 0;
}



.online-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-between;
    margin: 6% 0 6% 0;
    
}
.card-title{
    width: 80%;
    margin-bottom: 3%;
    text-align: center;
}
.card-img{
    width: 80%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-content: center;
}
.card-img img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
.im{
    width: 100%;
}
.im figcaption{
    width: 98%;
}

