@media screen and (max-width:576px) {

    .nav-container,
    .nav-items-container,.banner-container,.gamer,.card-img, .instant1,
    .instant2,.careers {
        flex-direction: column;
        align-items: center;
    }

    .nav-items-container a,
    .items-icon {
        margin-top: 20px;
    }


    
    .banner-container,.instant2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner,
    .banner-img {
        width: 100%;
        padding-top: 20%;
    }


    .banner-text,
    .banner-btn {
        padding-left: 5%;
    }

    .banner-text h1 {
        font-size: 75px;
    }

    .banner-text h2 {
        font-size: 38px;
    }

    
    .gamer-info {
        text-align: center;
    }

    .gamer-img,
    .gamer-info {
        width: 100%;
    }

    .card-img img {
        width: 100%;
    }

    
    .instant1-text,
    .instant2-text {
        font-size: 1rem;
        text-align: center;
        width: 100%;



    }

    .instant1-img1 img {
        width: 100%;
    }


    .instant1-img {
        padding-top: 40px;
        width: 70%;
        position: relative;
    }


    .instant1-img2 {
        width: 50%;
        position: absolute;
        bottom: -50px;
        left: -50px;
    }

    .instant2-img {
        padding-top: 40px;
        width: 70%;
        position: relative;
    }


    .instant2-img2 {
        width: 50%;
        position: absolute;
        bottom: -50px;
        right: -50px;
    }

    
    .career-section {
        padding: 10%;
    }

    .careers {
        width: 100%;
    }

    .career-info {
        width: auto;
    }

    .career-img {
        width: 100%;

    }

    .career-img img {
        width: 100%;
    }

    .careers2 {
        padding-bottom: 0;
    }



    
    .more-games {
        margin: 10%;
        width: 80%;
        padding-top: 10%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }

    .games {
        border: 1px solid black;
        border-radius: 40px;
        width: 90px;
        height: 30px;
        font-size: .5rem;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .ftr {
        width: 100%;
    }

    .service,
    .logo {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .policy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


}




























@media screen and (min-width:576px) and (max-width:768px) {

    .nav-items-container,.banner-container,.gamer,.card-img,.instant1,
    .instant2,.careers
     {
        flex-direction: column;
        align-items: center;
    }

    .nav-items-container a,
    .items-icon {
        margin-top: 20px;
    }


    
    .banner-container, .instant2
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner,
    .banner-img {
        width: 100%;
        padding-top: 10%;
    }

    .banner-text h1 {
        font-size: 95px;
    }

    .banner-text h2 {
        font-size: 48px;
    }

    .banner-text,
    .banner-btn {
        padding-left: 30%;
    }


    .gamer-img,
    .gamer-info {
        width: 100%;
    }

    .gamer-info {
        text-align: center;

    }

    .card-title {
        padding: 10%;
    }

    .card-img img {
        width: 100%;
    }


    .instant1-text,
    .instant2-text {
        font-size: 2rem;
        text-align: center;
        width: 100%;
        padding: 18%;



    }

    .instant1-img1 img {
        width: 100%;
    }


    .instant1-img {
        padding-top: 40px;
        width: 70%;
        position: relative;
    }


    .instant1-img2 {
        width: 50%;
        position: absolute;
        bottom: -50px;
        left: -50px;
    }

    .instant2-img {
        padding-top: 40px;
        width: 70%;
        position: relative;
    }


    .instant2-img2 {
        width: 50%;
        position: absolute;
        bottom: -50px;
        right: -50px;
    }



    .career-section {
        padding: 10%;
    }

    .careers {
        width: 100%;
    }

    .career-info {
        width: auto;
    }

    .career-img {
        width: 100%;

    }

    .career-img img {
        width: 100%;
    }

    .careers2 {
        padding-bottom: 0;
    }


    

    .more-games {
        margin: 10%;
        width: 80%;
        padding-top: 10%;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }

    .games {
        border: 1px solid black;
        border-radius: 40px;
        width: 90px;
        height: 30px;
        font-size: .5rem;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }



}
















