@media screen and (max-width:576px) {

    .nav-container,
    .nav-items-container,.banner-container,.gamer,.card-img {
        flex-direction: column;
        align-items: center;
    }

    .nav-items-container a,
    .items-icon {
        margin-top: 20px;
    }


    
    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner,
    .banner-img {
        width: 100%;
        padding-top: 20%;
    }


    .banner-text,
    .banner-btn {
        padding-left: 5%;
    }

    .banner-text h1 {
        font-size: 75px;
    }

    .banner-text h2 {
        font-size: 38px;
    }

    
    .gamer-info {
        text-align: center;
    }

    .gamer-img,
    .gamer-info {
        width: 100%;
    }

    .card-img img {
        width: 100%;
    }

}




























@media screen and (min-width:576px) and (max-width:768px) {

    .nav-items-container,.banner-container,.gamer,.card-img
     {
        flex-direction: column;
        align-items: center;
    }

    .nav-items-container a,
    .items-icon {
        margin-top: 20px;
    }


    
    .banner-container
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner,
    .banner-img {
        width: 100%;
        padding-top: 10%;
    }

    .banner-text h1 {
        font-size: 95px;
    }

    .banner-text h2 {
        font-size: 48px;
    }

    .banner-text,
    .banner-btn {
        padding-left: 30%;
    }


    .gamer-img,
    .gamer-info {
        width: 100%;
    }

    .gamer-info {
        text-align: center;

    }

    .card-title {
        padding: 10%;
    }

    .card-img img {
        width: 100%;
    }





}
















